.main-footer {
  background: #333;
  color: white;
  padding: 20px 0;
  min-height: 40px;
  margin-top: auto;
}

/* src/styles/layout.css */
.footer-container {
  padding: 24px 100px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-bottom: 60px; /* 하단 공백 */
  box-sizing: border-box; /* 패딩 포함 폭 계산 */
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.footer-info p {
  margin: 5px 0;
  color: #ccc;
}

.footer-links {
  display: flex;
  gap: 20px;
}

.footer-links a {
  color: #ccc;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: #e91e63;
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    text-align: center;
  }
  .footer-links {
    justify-content: center;
  }
}